*{
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
}

.calculetorbody{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 500px;
}
table{
    background-color: white;
    border: 2px solid;
    box-shadow: rgb(88, 84, 84);
}
td{
    text-align: center;
    color: black;
    border: 2px solid;
}
input[type="button"]{
    width: 90px;
    height: 80px;
    color: rgb(221, 207, 207);
    background-color: black;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}
input[type="button"]:hover{
    background-color: aquamarine;
    outline: none;
}
input[type="text"]{
    width: 340px;
    height: 80px;
    text-align: right;
    margin: 10px;
    padding: 2px;
    font-size: 30px;
}